attrs==21.4.0
click==8.0.3
colorama==0.4.4
Deprecated==1.2.13
filelock==3.4.2
grpcio==1.43.0
jsonschema==4.3.3
msgpack==1.0.3
numpy==1.22.0
packaging==21.3
Pillow==9.0.0
protobuf==3.19.3
pyparsing==3.0.6
pyrsistent==0.18.0
PyYAML==6.0
ray==1.9.2
redis==4.1.0
six==1.16.0
wrapt==1.13.3
